h1 {
    border: solid 1px black;
    width: 200px;
    height: 100px;
    display: inline;
}

p{
    border: solid 1px blue;
    display: inline;
}

a {
    border: solid 1px purple;
    display: inline;
}

